*.o
*.static.o
*.o.d

/.cc-defines.h
/libbtrfs/version.h
/btrfs
/btrfs.static
/btrfs-map-logical
/btrfs-map-logical.static
/btrfs-fragments
/btrfs-fragments.static
/btrfsck
/mkfs.btrfs
/mkfs.btrfs.static
/btrfs-convert
/btrfs-convert.static
/btrfs-find-root
/btrfs-find-root.static
/btrfs-image
/btrfs-image.static
/btrfs-corrupt-block
/btrfs-corrupt-block.static
/btrfs-select-super
/btrfs-select-super.static
/btrfs-crc
/btrfstune
/btrfstune.static
/btrfs-sb-mod
/mktables

/libbtrfs.a
/libbtrfs.so*
/library-test
/library-test-static
/libbtrfsutil.so*
/libbtrfsutil.a

/libbtrfsutil/libbtrfsutil.pc

/fssum
/testsuite-id
/tests/*-tests-results.txt
/tests/test-console.txt
/tests/test.img
/tests/mnt/
*.restored
/ioctl-test
/send-test
/quick-test
/json-formatter-test
/hash-speedtest

/aclocal.m4
/autom4te.cache
/config.cache
/config/*
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/Makefile.inc

/tags
/TAGS
/cscope.out
/cscope.files
/cscope.in.out
/cscope.po.out
.*
!.editorconfig

/ci/images/*/devel.tar.gz

/Documentation/Makefile
/Documentation/_build

*.patch
