*.o
*.static.o
*.o.d
tags
.cc-defines.h
version.h
version
man/*.gz
Documentation/*.gz
Documentation/*.html
btrfs
btrfs.static
btrfs-debug-tree
btrfs-map-logical
btrfs-fragments
btrfsck
calc-size
ioctl-test
dir-test
send-test
quick-test
find-root
mkfs.btrfs
mkfs.btrfs.static
repair
restore
btrfs-convert
btrfs-find-root
btrfs-find-root.static
btrfs-image
btrfs-show-super
btrfs-zero-log
btrfs-corrupt-block
btrfs-select-super
btrfs-calc-size
btrfs-crc
btrfstune
libbtrfs.a
libbtrfs.so
libbtrfs.so.0
libbtrfs.so.0.1
library-test
library-test-static

/tests/*-tests-results.txt
/tests/test-console.txt
/tests/test.img
/tests/mnt/

aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.rpath
config.status
config.sub
config/ltmain.sh
config/py-compile
config/test-driver
configure
cscope.out
depcomp
libtool
m4/*.m4
Makefile
Documentation/Makefile
missing
mkinstalldirs
stamp-h
stamp-h.in
stamp-h1
config/*

