# Check for typos on devel and pull rquests
# - codespell configuration is within .codespellrc

name: Codespell
run-name: Codespell

on:
  push:
    branches:
      - devel
      - 'ci/**'
      - 'CI/**'
  pull_request:
    branches:
      - devel
      - 'ci/**'
      - 'CI/**'

permissions:
  contents: read

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Annotate locations with typos
        uses: codespell-project/codespell-problem-matcher@v1
      - name: Codespell
        uses: codespell-project/actions-codespell@v2
